@media screen and (max-width: 900px){
    .w-nav-menu{
        display: none;
    }
    body{
        background-color: rebeccapurple; 
    }
}

@media screen and (max-width: 700px) {
  .w-nav-menu { 
      box-shadow: 0 0 15px;
      padding-top: 0.1px;
      padding-bottom: 0.1px; 
    }
  .w-nav-menu a {
      display: block;
    }
}

@media screen and (max-width: 400px){
    .w-nav-menu{
        display: none;
    }
    .w-container .w-nav-icon{
        display: inline-block; 
    }
}