@import url(defoult.css); 
/*@import url(media.css);*/

/*---------------------------*/

body {
  font: 14px Roboto ;
  background-color: #E2D8A3; 
}

/*---------------------------*/

.w-nav {
  background-color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.w-container {
    max-width: 1228px;
}

/*---------------------------*/

.w-brand {
  display: inline-block;
  width: 231px;
/*  width: 117px;*/
  height: 71px;
  background: url(../Login.png) no-repeat;
  background-size: cover;
  background-position: top left;
  float: left;
  margin: 1.5%  auto;
}

/*---------------------------*/

.tel {
  margin: 1.5% 0;  
  float: right;
}

.tel a {
  text-decoration: none; 
  color: #e34371;
  float: right;
  font-weight: bold;
  letter-spacing: 1.2px;
  line-height: 2.5;
  position: relative;
}

.tel a:before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 32px;
  height: 32px;
  margin: 1.5% auto;
  left: -40px;
  background: url(http://vasiliy5538fdg.esy.es/1055012-32.png) no-repeat;
}


/*---------------------------*/

.nava {
    overflow: hidden;
}

.before{
    display: none;
}

.w-nav-menu {
  width: 96%;
  margin: 1.5%  auto;
  position: relative;
}

.w-nav-menu a {
  display: inline-block;
  color: #444;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 4px;
  transition: background .8s ,
  color .8s ,
  border .8s;
}

/*---------------------------*/

.w-nav-icon {
  display: none;
  margin-left: 15% ;
  position: relative;
  top: 30px;
/*  width: 45px; height: 45px;*/
}

.w-nav-icon .w-icon {
/*  width: 45px; height: 45px;*/
/*  background: green;*/
  cursor: pointer;
}

/*---------------------------*/

.w-nav-menu a.active,
.w-nav-menu a:hover,
.w-nav-menu a:active {
  background-color: #e34371;
  color: #fff;
  border: 1px solid  #b95472;
  border-radius: 4px;
}

/*---------------------------*/

@media screen and (max-width: 762px) {
  .w-nav-menu { 
      box-shadow: 0 0 15px;
      padding-top: 0.1px;
      padding-bottom: 0.1px; 
    }
  .w-nav-menu a {
      display: block;
    } 
}
/*
@media screen and (max-width: 600px) {
  .w-nav-menu {
    background-color: #fff;
    display: none;
    position: absolute;
    width: 100%;
    top: 87px;
    left: 0;
    margin-top: 0;
  }
  .w-nav-menu a {
    width: 100%;
    margin: 0;
  }
  .w-nav-menu a.active,
  .w-nav-menu a:active {
    border-radius: 0;
  }
  .w-nav-icon {
    display: block;
    margin: 20px auto;
    
  }
} */
 
@media screen and (max-width: 450px){

    .w-nav-icon{
     
/*     position: fixed;*/
/*     background-color: black;*/
/*
         width: 400px;
        z-index: 0;
*/
    }

    .w-nav-menu{
        display: none;
        position: absolute;
        width: 100%; left: 0;
        background-color: #fff; 
    }
    
    .w-nav-icon .w-icon{
/*
        display: block; position: fixed;
         width: 100%; left: 0;
        height: 50px;
*/
        
    }
    
/*
    .w-nav-menu:before{
        content: "Закріть меню";
        position: fixed;
        display: block;
        width: 100%; height: 50px; 
        background-color: aqua;
        top: 0;
    } 
*/
    
    .before{
/*        content: "Закріть меню";*/
        position: fixed;
        display: block;
        width: 100%; height: 50px; 
        background-color: aqua;
        top: 0; z-index: 1;
    }
    .w-nav-menu a:nth-child(2){
        position: relative;
        margin-top: 50px; z-index: 0;
    }
    .w-container .w-nav-icon{
        display: inline-block; 
    }
    .w-brand{
        width: 20%; height: 40px; top: 5px;
        margin: 5% auto;
    }
}




.w-icon {
    
}
